<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de mascotas</title>
    
   
</head>
<body>
    <div class="container">
        {% for cadaMascota in mascota %} {#Se hace un bucle for para recorrer el array de mascotas#}
            <h3>Name: {{cadaMascota.name}}</h3>
            <h3>Species: {{cadaMascota.species}}</h3>
            {%if {{cadaMascota.favFoods}} is defined %} {#Esto para las comidas no me funciona. Primero intenté comprobar con el of que el campo existiera, y si existe que se recorra. El resto de cosas creo que va bien#}
                <h3>Favourite food:</h3>
                    <li>
                        {%for comidaFav in {{cadaMascota.favFoods}} %}
                            <ul>comidaFav</ul>
                        {%endfor%}
                    </li>
            {%endif%}
            <h3>Birth year: {{cadaMascota.birthYear}};
            <img src="asset{{cadaMascota.photo}}" alt="Pets Image">
        {% endfor %} {#Se cierra el bucle for#}
    </div>
</body>
</html>
