<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de mascotas</title>
    
   
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Listado de Entrenadores</h1>
        <div class="row">
            {% for mascota in mascotas %} {#Se hace un bucle for para recorrer el array de mascotas#}
               <div>
                    <h3>Name: {{mascota.name}}</h3>
                    <h3>Species: {{mascota.species}}</h3>
                    <h3>Favourite food</h3>
                        <li>
                        {% set commidasFavoritas = {{mascota.favFoods}}%}
                        {% for comidaFavorita in commidasFavoritas %}
                            <ul>{{comidaFavorita}}</ul>
                        {% endfor %}
                        </li>
                    <h3>Birth year: {{mascota.birhtYear}}</ul>
                    <img sr="{{asset(mascota.photo)}}"
               </div>
            {% endfor %}
            {#Se cierra el bucle for#}
        </div>
    </div>
</body>
</html>
